.container {
  width: 20em;
  height: fit-content;
  padding: 2em 1.8em;
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.06);
  border-radius: 1em;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  gap: 1.4em;

  .tags {
    display: flex;
    align-items: center;
    gap: 0.4em;

    .tag {
      height: 2.4em;
      color: #666;
      background-color: #f5f5f5;
      padding: 0 0.8em;
      width: fit-content;
      font-weight: 700;
      border-radius: 0.4em;
      display: flex;
      align-items: center;
    }
  }

  .content {
    line-height: 1.2;
  }
}
