@import '@styles/mixin';

.container {
  background-color: #fff;
  width: 100%;
  height: 8.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12rem 0 13rem;

  @include tablet {
    padding: 0 6rem 0 8rem;
    height: 6em;
  }
  @include mobile {
    padding: 0 2rem;
    height: 6em;
  }

  .logo img {
    @include tablet {
      width: 12em;
    }
    @include mobile {
      width: 12em;
    }
  }
}

.mypage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2em;

  .profile-img {
    width: 4em;

    img {
      width: 100%;
      height: 100%;
    }

    @include tablet {
      width: 3em;
    }
    @include mobile {
      width: 3em;
    }
  }

  .name {
    color: #3a3a3a;
    font-size: 1.4em;
  }

  .dropdown-arrow {
    margin-left: 8px;
  }
}
